<a href="https://colab.research.google.com/github/sharonkeerthana9/python/blob/main/python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
25 + 23

48

In [ ]:
23*23

529

In [ ]:
## just experimenting

## just typying

### sup

In [ ]:
# print('hey')

In [ ]:
mylist=[1,2,3]

In [ ]:
mylist

[1, 2, 3]

In [ ]:
max(mylist)

3

In [ ]:
txt = "We are the so-called \"Vikings\" from the north."

In [ ]:
txt

'We are the so-called "Vikings" from the north.'

In [ ]:
6//5

1

In [ ]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
def myfunc(z):
  x = z**2
  print(x)

In [ ]:
myfunc(16)

256

In [ ]:
x = ("apple", "banana", "cherry")
y = list(x)
y.insert(1,"kiwi")
x = tuple(y)

In [ ]:
x

('apple', 'kiwi', 'banana', 'cherry')

In [ ]:
a = 100

if a > 10:
  print("a is greater than 10")
  if a > 20:
    print("a is also greater than 20")
  else:
    pass
else:
  print("a is not greater than 10")

a is greater than 10
a is also greater than 20

In [ ]:
a = input("enter the value of a ")
b = input("enter the value of b")
c = float(a) + float(b)

enter the value of a 10.8
enter the value of b10.9

In [ ]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [ ]:
for x in range(10):
  if x == 4:
    continue
  print(x)

0
1
2
3
5
6
7
8
9

In [ ]:
def arth():
  a = input("enter the value a: ")
  b = input("enter the value b: ")
  c = float(a) + float(b)
  print(c)

In [ ]:
arth()

enter the value a: 10
enter the value b: 20
30.0

In [ ]:
def names(fname, lname):
  print(fname + " " + lname)

In [ ]:
names("sharon","keerthana")

sharon keerthana

## home work

###Write a Python function that checks whether a word or phrase is palindrome or not.

In [ ]:
def palindrome(x):
  x = x.replace(' ','')
  return x == x[::-1]

In [ ]:
palindrome('runrun')

False

In [ ]:
palindrome('aaaa')

True

In [ ]:
lst = [1,2,3]

###LESSER OF TWO EVENS:

In [ ]:
def min_max(a,b):
  if a%2 == 0 and b%2 == 0:
    return min(a,b)
  else:
    return max(a,b)

In [ ]:
min_max(2,11)

11

###True if both words begin with same letter

In [ ]:
def letter_check(text):
  x = text.split()
  return x[0][0] == x[1][0]

In [ ]:
letter_check("sharon keerthana")

False

###True if the sum of the integers is 20 or if one of the integers is 20

In [ ]:
def twenty(a,b):
 return (a+b == 20) or (a == 20 or b == 20)

In [ ]:
twenty(11,2)

False

###OLD MACDONALD

In [ ]:
def macd(name):
  if len(name) > 3:
    return name[:3].capitalize() + name[3:].capitalize()
  else:
    return "name is too short"

In [ ]:
macd("macdonalds")

'MacDonalds'

###MASTER YODA:(reversed string)

In [ ]:
def yoda(text):
  x= ' '.join(text.split()[::-1])  
  return   x

In [ ]:
yoda("I am home")

'home am I'

###Given an integer n, return True if n is within 10 of either 100 or 200

In [ ]:
list(range(90,111))

TypeError: ignored

In [ ]:
def num(x):
  return x in range(90,111) or range(190,211)

In [ ]:
num(90)

True

In [ ]:
def has_33(num):
 
 for a in range(0,len(num)):
   if num[a:a+1] == [3,3]:
    print("true")
   else:
    pass

In [ ]:
has_33([1, 3, 3])

True

In [ ]:
def name(txt):
  result = ' '
  for x in txt:
    result = result + x*3
  return result

In [ ]:
name('Hello')

' HHHeeellllllooo'

###Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'

In [ ]:
def black_jack(a,b,c):
    if sum((a,b,c)) < 21:
      return sum((a,b,c))
    elif sum((a,b,c)) > 21 and 11 in (a,b,c):
      return sum((a,b,c)) - 10
    else:
      print("bust")

In [ ]:
black_jack(9,9,11)

19

#guessing game

# New section

In [ ]:
lst = list(range(10,13))

In [ ]:
from random import shuffle

In [ ]:
def shfl(lst):
  shuffle(lst)
  print(lst)

In [ ]:
shfl(lst)

[11, 10, 12]

In [ ]:
def guess_num():
  guess = ''

  while guess not in ['10','11','12']:
    print("select in the range")
    guess = input("enter the number:")
  return int(guess)

In [ ]:
guess_num()

select in the range
enter the number:12

12

In [ ]:
def check(guess,lst):
  if lst == shuffle_num:
    print('correct')
  else:
    print("wrong")

In [ ]:
class dog():

  species = "mammal"

  def __init__(self,breed,name):
    self.breed = breed 
    self.name = name 
  def bark(self,age):
    print("woof! my name is {} my age is {}".format(self.name,age))

In [ ]:
mydog = dog("lab","shelly")

In [ ]:
mydog.bark(10)

woof! my name is shelly my age is 10

In [ ]:
class circle():
  pi = 3.14
  def __init__(self,area,radius = 2):
     self.area = area
     self.radius = radius   
  def circumference(self):
    return self.radius* self.pi *2
  def area(self):
    return self.pi*self.radius*self.radius

In [ ]:
my_circle = circle(10)

In [ ]:
my_circle.radius

2

In [ ]:
my_circle.circumference()

12.56

###patterns

In [ ]:
print("# # # #")
print("# # # #")
print("# # # #")
print("# # # #")

# # # #
# # # #
# # # #
# # # #

In [ ]:
for i in range(4):
  for j in range(4):
    print('#', end=" ")
  print()

# # # #
# # # #
# # # #
# # # #

In [ ]:
for i in range(4):
  for j in range(4-i):
    print('#', end=" ")
  print()

# # # #
# # #
# #
#

In [ ]:
nums = [12,15,18,21,26]

In [ ]:
for num in nums:
  if num % 2 == 0:
    print(num)

12
18
26

prime number: